<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">View All Customers</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date Of Birth</th>
                <th>Street</th>
                <th></th>
                <!-- <th>Photo</th> 
				<th></th>
				<th></th>-->
            </tr>
            <tr *ngFor="let customer of customerList">
                <td>{{ customer.firstName }}</td>
                <td>{{ customer.lastName }}</td>
                <td>{{ customer.dateOfBirth | date : 'dd/MM/yyyy'}}</td>
                <td>{{ customer.address.street }}</td>
                <td>
                    <a (click)="onCustomerClick(customer.id)" data-toggle="tooltip" data-placement="top" title="View Customer Details"><i class="fa fa-search-plus fa-2x icon-color"></i></a>
                    <a (click)="onDeleteClick(customer.id)" data-toggle="tooltip" data-placement="top" title="Delete Customer"><i class="fa fa-times fa-2x icon-color"></i></a>
                </td>
            </tr>
        </table>
    </div>
</div>